.dayPicker {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px
}

.dayPickerInput {
	width: 192px;
	padding: 0 31.5px 0 60px;
	color: var(--green);
	direction: rtl;
}

.dayPickerInput::placeholder {
	color: var(--green);
}

.dayPickerInput option {
	color: var(--green);
}